<a href="https://colab.research.google.com/github/Geunyeong-Kwon/Python-Study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC2%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#빼기, 곱하기, 나누기 기능 구현
a = 100
b = 50
result = a + b
print(result)
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)

150
100 + 50 = 150
100 - 50 = 50
100 / 50 = 2.0

In [4]:
print("하나","둘","셋",1,2,3)
print("하나","둘","셋",1,2,3,sep='-')
print("첫번째 값")
print("두번째 값")
print("첫번째 값",end=" ---> ")
print("두번째 값")

하나 둘 셋 1 2 3
하나-둘-셋-1-2-3
첫번째 값
두번째 값
첫번째 값 ---> 두번째 값

In [5]:
#표준 입력
data = input("실수를 입력하시오 : ")
print(data,type(data))
#에러 문자열과 실수를 +(더하기)할 수 없습니다.
#print(data,type(datda).data+1.2)

data = eval(input("실수를 입력하시오 : ")) # eval() 함수: 인수를 유효한 파이썬 표현식으로 리턴함
print(data,type(data),data+1.2)

data = float(input('정수를 입력하시오 : ')) #float 클래스: class float(x) --> 숫자나 문자열 x로부터 만들어진 실수 객체를 return 함, 인자가 주어지지 않으면 0을 리턴함.
print(data,type(data),data+1.2)

실수를 입력하시오 : 3.14
3.14 <class 'str'>
실수를 입력하시오 : 3.14
3.14 <class 'float'> 4.34
정수를 입력하시오 : 3.14
3.14 <class 'float'> 4.34